<section id="about">
<link rel='stylesheet' href='/content/app.css'/>
<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css'/>
<link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css'/>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Mahnoor</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link active"  href="/home"><i class="fa-solid fa-house-user"></i> Home</a>
            </li>
              
            <li class="nav-item">
              <a class="nav-link active" href="/About"><i class="fa-solid fa-info"></i> About</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active"href="/project"><i class="fa-solid fa-list-check"></i> project</a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link" href="/contact"> <i class="fa-solid fa-phone"></i> Contact</a>
                </li>
      </div>
    </nav>
    <div class="about_me">
        <div class="page">
            <h1>About me</h1>
            <p>Hi, My name is Mahnoor. I live in Oshawa. I study at Ontario Tech University.</p>
            <p>I've done few projects using html,css, and Javascript.</p>
            <div class="video">
                <video width="400" height="200" controls>
                    <source src="../assets/video.mp4" type="video/mp4">
            </div>
        </div>
    </div>
    </section>
    <script src="/webproject/public/config/app.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <footer>
        <div class="footer">
        </div>
        <p class="copyright">© cipyright 2023 All rights reserved by<b>Syeda Mahnoor</b></p>
    </footer>