<section id="contact">
<link rel='stylesheet' href='/content/app.css'/>
<link rel='stylesheet' href='/content/phone.css'/>
<link rel='stylesheet' href='/content/tab.css'/>
<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css'/>
<link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css'/>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Mahnoor</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link active"  href="/home"><i class="fa-solid fa-house-user"></i> Home</a>
            </li>
              
            <li class="nav-item">
              <a class="nav-link active" href="/About"><i class="fa-solid fa-info"></i> About</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active"href="/Projects "><i class="fa-solid fa-list-check"></i> project</a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link" href="/contact"> <i class="fa-solid fa-phone"></i> Contact</a>
                </li>
      </div>
    </nav>
    <div class="contact">
      <h2>Contact me</h2>
    </div>
      <div class="project-text">
        <p>contact me</p>
      </div>
    </div>
    <form>
      <div class="form-group">
        <form action=syeda.mahnoor@onatriotechu.net from method="post" class="needs-validation" novalidate >
          <label for="name">Name</label>
          <input type="text" id= "name" name="name" required>
        </form>
      </div>
      <div class="form-group">
        <lable for="email">Email</lable>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="message">message</label>
        <textarea id="message"
        name="message" required></textarea>
      </div>
      <button type="submit">submit</button>
    </form>
    </section>
    <script src="/scripts/app.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
<footer>
        <div class="footer">
        </div>
        <p class="copyright">© copyright 2023 All rights reserved by <b>Syeda Mahnoor</b>.You can contact me through my email<br>syeda.mahnoor@ontariotechu.net</br></p>
</footer>