<section id="Home">
<link rel='stylesheet' href='/content/app.css'/>
<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css'/>
<link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css'/>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Mahnoor</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link active"  href="/home"><i class="fa-solid fa-house-user"></i> Home</a>
            </li>
              
            <li class="nav-item">
              <a class="nav-link active" href="/About"><i class="fa-solid fa-info"></i> About</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active"href="/project"><i class="fa-solid fa-list-check"></i> project</a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link" href="/contact"> <i class="fa-solid fa-phone"></i> Contact</a>
                </li>
      </div>
    </nav>
    <div class="text"
    <h1>Hello, Welcome</h1>
</div>
<div class="image">
   <img src="../assets/my photo.jpg " alt="my photo"> 
   </div>
<div class="text1">
  <p>Hello! I'm Mahnoor, a second-year student pursuing a degree in Networking and IT.
     I am passionate about exploring the dynamic world of technology and its ever-evolving role in shaping our digital future.  
     I embarked on my academic journey with a keen interest in understanding the intricacies of networks, 
     security, and information technology. As a second-year student, I've delved into various aspects of
      networking, from mastering protocols to tackling real-world challenges in IT environments. 
      Each day is an exciting opportunity to deepen my knowledge and develop practical skills that will contribute to the tech landscape.      
      Beyond my academic pursuits, I engage in extracurricular activities that complement my passion for technology.
       Whether it's participating in hackathons, exploring the latest advancements in the IT industry, 
       or contributing to open-source projects, I'm always seeking ways to broaden my horizons.  
       I'm always open to connecting with fellow students, professionals, and enthusiasts who share a passion for networking and IT. Whether it's discussing the latest tech trends, collaborating on projects, or simply sharing experiences, feel free to reach out!

Thank you for stopping by, and I look forward to connecting with you on this exciting journey through the realm of networking and IT.
  </p>
</div>
    </section>
    <footer>
        <div class="footer">
        </div>
        <p class="copyright">© copyright 2023 All rights reserved by <br>Syeda Mahnoor</br>. </p>
    </footer>

