<section id="Projects">
<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css'/>
<link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css'/>
<link rel='stylesheet' href='/content/app.css'/>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Mahnoor</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-list">
              <a class="nav-link active"  href="/home"><i class="fa-solid fa-house-user"></i> Home</a>
            </li>
              
            <li class="nav-list">
              <a class="nav-link active" href="/About"><i class="fa-solid fa-info"></i> About</a>
            </li>

            <li class="nav-list">
              <a class="nav-link active"href="/project"><i class="fa-solid fa-list-check"></i> project</a>
            </li>
            <li class="nav-list"> 
                <a class="nav-link" href="/contact"> <i class="fa-solid fa-phone"></i> Contact</a>
                </li>
      </div>
    </nav>
    <div class="color">
    <div class="heading">
      <p class="heading"> Web project </p>
        <p><b>I created these programs using html, CSS, and JavaScript. 
          The first project I created was a weather app. 
          In this app user will put their city name and
          they'll get the weather 🌨  of their location.The second project 
          is where user can read some information about the ica hockey team 🏒
           of Toronto 🍁. 
           Then they will buy a ticket for this game. 
           User will press the button that says buy ticket.The 
           third project is my portfolio 🧕. I have also add these
            two projects in my portfolio. While working on these projects 
            I face some challenges. Those challeneges were in the beginning
            of the projects. I was learning coding at that time, which was new for me. But I overcome those challeneges. </b></p>
    </div>
    <div class="image1">
      <img src="../assets/project-img-1.png"></div>
      <div class="image1">
      <img src="../assets/project-img-2.png"></div>
      <div class="image1">
      <img src="../assets/project-imge-3.png">
    </div>
    </div>
    </section>
    <script src="/webproject/public/config/app.js"></script>
    <script src="/bootstraps/dist/js/bootstrap.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
  